<h2>Base</h2>

<h1>H1 Title</h1>
<h2>h2 Subtitle</h2>
<h3>h3 Subtitle</h3>
<h4>h4 Subtitle</h4>
<h5>h5 Subtitle</h5>
<h6>h6 Subtitle</h6>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quasi! Voluptates illum earum dolores alias sit
  obcaecati. Non, quasi nam, assumenda quidem ea ex pariatur magnam blanditiis, libero modi animi?
  Eveniet ut obcaecati inventore? A praesentium expedita natus quaerat labore omnis hic. In repellendus ab nobis totam
  cumque dolorem, debitis tenetur illum, dignissimos veniam quam, facere reprehenderit ipsum consequuntur quibusdam.</p>

<h3>Links</h3>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>

<h3>Button</h3>

<button class="app-button">Button</button>

<h3>Code</h3>

<code>const parameter = 42;</code>

<h3>Input</h3>

<input type="text" class="app-input">



<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shadow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card Mixin</div>
