$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #212121;

$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #ffffff;

$secondary: #FFB300;
$secondary-dark: #FFA000;
$secondary-light: #FFEB3B;
$on-secondary: #212121;

$error: #f44336;
$on-error: #ffffff;

$success: #00E676;
$on-success: #ffffff;
